extends layout

block content
  div.post
    h2 500
    div.p-header-sub Ой! Что-то сломалось.
    br
    div.p-body
      - if (err) {
        pre #{err.stack}
      - } else {
        pre(style="text-align: center;")
          i(class="icon-ambulance", style="font-size:300px;")
      - }
