doctype html
html
  head
    block head
      title
        - if (locals.fullTitle) {
            = fullTitle
        - } else {
            != getAppConfig('blog_name', 'simple node blog')
            - if (locals.title) {
              |  - #{title}
            - }
        -}
      meta(charset="utf-8")
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/awesome/css/font-awesome.min.css')
      script(type="text/javascript", src="/js/jquery.min.js").
      script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js").
      link(rel='stylesheet', href='/css/main.css')
      script(type="text/javascript", src="/highlight.js/highlight.pack.js").
      link(rel='stylesheet', href='/highlight.js/github.css')
      meta(name="description", content=getAppConfig('global_description', 'simple node blog'))
  body
    div#wrap
      div#header
        div.container
          div.login-toplink.pull-right
            - if (!locals.userInfo || !userInfo.auth)
                a(href="/login/", class="btn btn-default btn-xs") Вход
            - else
                = userInfo.name
                | &nbsp;
                if (userInfo.role == 'admin')
                  | &nbsp;
                  a(href="/adm/posts/", class="btn btn-default btn-xs", title="Управление")
                    i(class="icon-cog")
                  | &nbsp;
                a(href="/my/profile/", class="btn btn-default btn-xs", title="Профиль")
                  i(class="icon-user")
                | &nbsp;
                a(href="/logout/", class="btn btn-default btn-xs") Выход
          h2#title
            a(href='/')
              != getAppConfig('blog_name', 'simple node blog')

      div.container
        block content

      div#push

    div#footer
      div.container
        i(class="icon-github-alt")
        | &nbsp;
        a(href="https://github.com/ijin82/simple-node-blog", target="_blank") simple node blog
        | &nbsp; &nbsp; &nbsp;
        a(href="/rss/main.rss", title="rss общей ленты", target="_blank") RSS
        | &nbsp; &nbsp; &nbsp;
        a(href="/full-list/", title="Все записи в одном списке") Все записи

    != getAppConfig('counter_code', '<!-- counter_code -->')

    script(type="text/javascript").
      $('pre.code').each(function(i, e) {hljs.highlightBlock(e)});

