doctype 5
html
  head
    block head
      title #{title}
      meta(charset="utf-8")
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/awesome/css/font-awesome.min.css')
      script(type="text/javascript", src="/js/jquery.min.js")
      script(type="text/javascript", src="/bootstrap/js/bootstrap.js")
      link(rel='stylesheet', href='/css/main.css')
      script(type="text/javascript", src="/highlight.js/highlight.pack.js")
      link(rel='stylesheet', href='/highlight.js/github.css')

      meta(name="description", content="уютненький бложик, дорогойдневничок")
      meta(name="keywords", content="техноблог, блог, php, mysql, ubuntu, linux, bash, node.js, express.js")

  body

    div#wrap
      div#header
        div.container
          div.login-toplink.pull-right
            - if (!userInfo.auth)
                a(href="/login/", class="btn btn-mini") Вход
            - else
                !{userInfo.name} &nbsp;
                if (userInfo.role == 'admin')
                  &nbsp;
                  a(href="/adm/posts/", class="btn btn-mini", title="Управление")
                    i(class="icon-cog")
                  &nbsp;
                a(href="/logout/", class="btn btn-mini") Выход

          h2
            a(href='/')
              != appConfig('blog_name', 'simple node blog')

      div.container
        block content

      div#push

    div#footer
      div.container
        i(class="icon-github-alt")
        |&nbsp;
        a(href="https://github.com/ijin82/simple-node-blog", target="_blank") simple node blog
        span.label.label-info.site-a-label.label-inline
          a(href="/full-list/") Все записи

    != appConfig('counter_code', '<!-- counter_code -->')

    script(type="text/javascript")
      $('pre.code').each(function(i, e) {hljs.highlightBlock(e)});
