extends layout

block content
  
  div(style="text-align:center;margin-top:5%;")
    img(src="/img/c3.jpg", border="0")
  div(style="padding: 0px 38%; margin-top: -180px;")
    form.form-horizontal(method="post", action="/auth/local")
      div.form-group
        div.col-lg-12
          input.form-control(type="text", value="", name="username", placeholder="Ваш логин")
      div.form-group
        div.col-lg-12
          input.form-control(type="password", value="", name="password", placeholder="Ваш пароль")
      div.form-group
        div.col-lg-12
          button(type="submit", class="btn btn-default") Войти

          div.h-list.m-l10.f-right
            a.social-icon-link.login(href="/auth/facebook", title="facebook")
              i(class="icon-facebook-sign icon-2x")
            a.social-icon-link.login(href="/auth/twitter", title="twitter")
              i(class="icon-twitter-sign icon-2x")
            a.social-icon-link.login(href="/auth/github", title="github")
              i(class="icon-github icon-2x")
      - if (locals.authErr == 'passport-error') {
          div.control-group
            label(class="label label-danger") ошибка авторизации
      - }
    div.clearfix


