extends layout

block content

  div(class="span8", style="padding: 7% 17%;")
    form(class="form-horizontal")
      legend mp3detect &mdash; Определяем исполнителя по mp3

      div(class="control-group")
        label(class="control-label", for="item_mp3_file_id") Выберите mp3 файл
        div(class="controls")
          input(id="item_mp3_file", type="file", class="hide", name="track")
          a(class="btn", id="item_mp3_file_id") выбрать файл


      div(class="control-group")
        div(class="controls")
          a(href="#", class="btn btn-primary", id="find-btn") Искать!

      div(class="control-group hide", id="find-res", style="text-decoration:italic;color:#FF8C00;") Результаты

      div(class="control-group")
        i
          | Используется сервис&nbsp;
          a(href="http://echonest.com/", target="_blank") echonest.com
          |  Документация по API&nbsp;
          a(href="http://developer.echonest.com/docs/v4/track.html", target="_blank") тут
          |  и&nbsp;
          a(href="http://developer.echonest.com/docs/v4/song.html#profile", target="_blank") тут
          br
          Известных композиций 34,6+ миллионов, база постоянно обновляется
          br
          br
          Комментарии по работе сервиса можно оставлять&nbsp;
          a(href="/post/150/", target="_blank") здесь

  script(type="text/javascript")

    var btnHtml = '';
    var resText = '';
    var trackId = '';
    var releaseImg = '';

    selectFile = function(){
      $('#item_mp3_file').click();
    }

    $('#item_mp3_file').change(function() {
      nval = $(this).val();
      if (nval) {
        $('#item_mp3_file_id').addClass('btn-info');
        var fn = $(this).val().match(/.*\\(.*?)$/i);
        $('#item_mp3_file_id').text(fn[1]);
      }
    });

    findBack = function(){
      $("#find-res").removeClass('hide');
      $("#find-btn").toggleClass('btn-primary btn-warning');
      $("#find-btn").html(btnHtml);

      $("#find-btn").bind('click', checkTrack);
      $("#item_mp3_file_id").bind('click', selectFile);
    }

    checkStatus = function(){
      var dParts = [];
      dParts.push('api_key=VJKKWWBZXNBOUS3YP');
      dParts.push('format=jsonp');
      dParts.push('id=' + trackId);

      $.ajax({
        dataType: 'jsonp',
        url: 'http://developer.echonest.com/api/v4/track/profile',
        data: dParts.join('&'),
        success: function(data) {
          var prevM = $("#find-res").html();
          if (data.response.track.status == 'complete') {

            if (typeof data.response.track.song_id != 'undefined') {
              $("#find-res").html(prevM + '<br />Найдено совпадение, запрашиваем данные..<br />');

              if (typeof data.response.track.release_image != 'undefined') {
                releaseImg = '<img class="thumbnail m-t10" border="0" src="' + data.response.track.release_image + '" />';
              } else {
                releaseImg = '';
              }
              getSongProfile(data.response.track.song_id);
            } else {
              $("#find-res").html(prevM + '<br />К сожалению, совпадений не найдено :(');
              findBack();
            }

          } else {
            $("#find-res").html(prevM + '.')
            setTimeout(checkStatus, 1000*5);
          }
        },
        error: function (data) {
          if (console && console.log) {
            console.log(data);
          }
          findBack();
        }
      });
    }

    getSongProfile = function(songId){
      var dParts = [];
      dParts.push('api_key=VJKKWWBZXNBOUS3YP');
      dParts.push('format=json');
      dParts.push('id=' + songId);
      dParts.push('bucket=audio_summary');

      // remote resp got "Access-Control-Allow-Origin:*" header
      // so use like dataType: 'json' & GET
      $.ajax({
        dataType: 'json',
        url:'http://developer.echonest.com/api/v4/song/profile',
        data: dParts.join('&'),
        success: function(data) {
          var prevM = $("#find-res").html();

          if (data.response.status.code == 0) {
            $("#find-res").html(prevM + 'Сведения о треке: ' +
              data.response.songs[0].artist_name + ' - ' + data.response.songs[0].title +
              '<br />' + releaseImg);
          } else {
            $("#find-res").html(prevM + 'Ошибка БД на стороне echonest. Попробуем снова?');
          }
          findBack();
        },
        error: function (data) {
          if (console && console.log) {
            console.log(data);
          }
          findBack();
        }
      });
    }

    checkTrack = function() {
      $("#find-btn").unbind('click');
      $("#item_mp3_file_id").unbind('click');

      $("#find-btn").bind('click', dummyFind);
      btnHtml = $("#find-btn").html();
      $("#find-btn").toggleClass('btn-primary btn-warning');
      $("#find-btn").html('<i class="icon-refresh icon-spin"></i> Пожалуйста, подождите...');
      $("#find-res").addClass('hide');

      var fd = new FormData();
      fd.append('api_key', 'VJKKWWBZXNBOUS3YP');
      fd.append('filetype', 'mp3');
      fd.append('track', $('#item_mp3_file')[0].files[0]);

      $.ajax({
        type: 'POST',
        url: '/mp3detect/send',

        data: fd,
        processData: false,
        contentType: false,
        dataType: "json",

        success: function(data) {
          resText = '<strong>Результаты</strong><br />';
          if (data.response.status.code == 0) {
            trackId = data.response.track.id;
            resText = 'Файл отправлен, ждем пока закончится анализ..<br /> \
              Пожалуйста, не обновляйте страницу<br />';
            $("#find-res").removeClass('hide');
            $("#find-res").html(resText);
            checkStatus();
          } else {
            resText += 'Ошибка: ' + data.response.status.message;
            $("#find-res").html(resText);
            findBack();
          }
        },
        error: function (data) {
          resText = '<strong>Результаты</strong><br />';
          resText += 'Возникла ошибка';
          if (console && console.log) {
            console.log(data);
          }
          $("#find-res").html(resText);
          findBack();
        }
      });

      return false;
    }

    dummyFind = function (){
      return false;
    }

    $("#find-btn").bind('click', checkTrack);
    $("#item_mp3_file_id").bind('click', selectFile);
