- var ipages = Math.ceil(pager_cnt/pager_size);
- if (ipages > 1)
    ul.pagination.m-b10
      -  if (tag_id != 0) {
      -      urlStart = '/tag/' + tag_id + '/'
      -  } else {
      -      urlStart = '/page/'
      -  }

      - maxlen = 15
      - cur_p = 1
      - if (pager_current > 7) {
      -   if (ipages - pager_current < maxlen) {
      -     m = ipages - maxlen +1
      -     if (m < 1) {
      -       m = 1;
      -     }
      -   } else {
      -     m = pager_current - 7
      -   }
      - } else {
      -   m = 1;
      - }
      - pageSort = (sort == 'back')? '/back/' : '/';
      - for (m; m <= ipages; m++, cur_p++) {
      -   if (cur_p <= maxlen) {
      -     if (m == pager_current)
              li.active
                != '<a href="' + urlStart + m + pageSort + '" title="Перейти на страницу ' + m + '" class="cur">' + m + '</a>'
      -     else
              li
                != '<a href="' + urlStart + m + pageSort + '" title="Перейти на страницу ' + m + '">' + m + '</a>'
      -   } else {
      -     break;
      -   }
      - }

      - if (sort =='back')
          li
            a(href=urlStart + pager_current + '/', title="Сейчас сначала старые")
              i.icon-chevron-down
      - else
          li
            a(href=urlStart + pager_current + '/back/', title="Сейчас сначала новые")
              i.icon-chevron-up

