- var ipages = Math.ceil(pager_cnt/pager_size);
- if (ipages > 1)
  div.pagination
    ul
      -  if (tag_id != 0) {
      -      urlStart = '/tag/' + tag_id + '/'
      -  } else {
      -      urlStart = '/page/'
      -  }

      - maxlen = 15
      - cur_p = 0
      - if (pager_current > 7) {
      -   if (ipages - pager_current < maxlen) {
            m = ipages - maxlen
      -     if (m < 0) {
              m = 0;
      -     }
      -   } else {
            m = pager_current - 7
      -   }
      - } else {
          m = 0;
      - }
      - for (m; m < ipages; m++, cur_p++) {
      -   if (cur_p < maxlen) {
      -     if (m == pager_current)
              li.active
                != '<a href="' + urlStart + m + '/" title="go to page '+(m+1)+'" class="cur">'+(m+1)+'</a>'
            else
              li
                != '<a href="' + urlStart + m + '/" title="go to page '+(m+1)+'">'+(m+1)+'</a>'
      -   }
      - }

      - if (tag_id != 0)
          li
            != ' <a href="/">Все записи</a>'