- var ipages = Math.ceil(pager_cnt/pager_size);
- if (ipages > 1)
  div.pagination.m-b10
    ul
      -  if (tag_id != 0) {
      -      urlStart = '/tag/' + tag_id + '/'
      -  } else {
      -      urlStart = '/page/'
      -  }

      - maxlen = 15
      - cur_p = 1
      - if (pager_current > 7) {
      -   if (ipages - pager_current < maxlen) {
            m = ipages - maxlen
      -     if (m < 1) {
              m = 1;
      -     }
      -   } else {
            m = pager_current - 7
      -   }
      - } else {
          m = 1;
      - }
      - for (m; m <= ipages; m++, cur_p++) {
      -   if (cur_p < maxlen) {
      -     if (m == pager_current)
              li.active
                != '<a href="' + urlStart + m + '/" title="go to page ' + m + '" class="cur">' + m + '</a>'
            else
              li
                != '<a href="' + urlStart + m + '/" title="go to page ' + m + '">' + m + '</a>'
      -   }
      - }

      - if (tag_id != 0)
          li
            != ' <a href="/">Все записи</a>'