html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -51px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 40px;
    margin-top:10px;
}

#footer {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

#footer .container {
    padding-top: 10px;
}

#header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    height: 60px;
}

h1 a {
    color: #444;
}

h1 a:hover {
    text-decoration: none;
    color: #666;
}

.m-b10 {
    margin-bottom: 10px;
}

.m-l10 {
    margin-left: 10px;
}

.m-t10 {
    margin-top: 10px;
}

.m-r10 {
    margin-right: 10px;
}

.site-a-label a {
    color: #fff;
}

.site-a-label a:hover {
    text-decoration: none;
    font-weight: bold;
}

.site-a-label {
    margin-right: 3px;
    margin-bottom: 1px;
}

.label-inline {
    margin-left: 10px;
    margin-right: 10px;
}

h2 a:hover {
    text-decoration: none;
}

div.social {
    margin: 10px 0px 10px 0px;
}

div.comment {
    margin-bottom: 20px;
}

div.comment-new-header {
    font-weight: bold;
}

div.login-toplink {
    padding-top: 25px;
    font-weight: bold;
}

a.black-icon-link {
    color: #000;
    text-decoration: none;
}

a i.black-icon {
    color: #000;
    text-decoration: none;
}

.post-meta {
    list-style: none;
    margin: 0px;
    color: #999999;
}

.post-meta li {
    display: inline;
    padding-right: 10px;
}

.post-meta li i {
    font-size: 18px;
}

td.text-center,
th.text-center {
    text-align: center;
}

/* auth links */
.social-icon-link {
    color: #999;
}
.social-icon-link:hover {
    text-decoration: none;
}

.h-list {
    list-style: none;
}
.h-list a i {
    line-height: 16px;
    margin: 0px 5px 0px 0px;
    height:22px;
    vertical-align: bottom;
}

/* social connect */
#profile-keys a{
    margin: 5px;
    font-size: 14px;
    font-weight: normal;
}
