html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -51px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 40px;
}

#footer {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

#footer .container {
    padding-top: 10px;
}

#header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    height: 60px;
}

h1 a {
    color: #444;
}

h1 a:hover {
    text-decoration: none;
    color: #666;
}

.m-b10 {
    margin-bottom: 10px;
    clear: both;
}

.m-l10 {
    margin-left: 10px;
}

.m-r10 {
    margin-right: 10px;
}

.site-a-label a {
    color: #fff;
}

.site-a-label a:hover {
    text-decoration: none;
    font-weight: bold;
}

.site-a-label {
    margin-right: 3px;
    margin-bottom: 1px;
}

.label-inline {
    margin-left: 10px;
    margin-right: 10px;
}

h2 a:hover {
    text-decoration: none;
}

div.social {
    margin: 10px 0px 10px 0px;
}

div.comment {
    margin-bottom: 20px;
}

div.comment-new-header {
    font-weight: bold;
}

div.login-toplink {
    padding-top: 25px;
    font-weight: bold;
}

a.black-icon-link {
    color: #000;
    text-decoration: none;
}

/* auth links */
.h-list {
    margin: 0px;
}
.h-list li{
    margin: 2px;
    padding: 0px;
    float:left;
    list-style-type: none;
}
.h-list li a{
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.sp-big-facebook{ background: url(/img/sp-big.png) 0 0; width: 128px; height: 128px; }
.sp-big-github{ background: url(/img/sp-big.png) -129px 0; width: 128px; height: 128px; }
.sp-big-google{ background: url(/img/sp-big.png) -258px 0; width: 128px; height: 128px; }
.sp-big-twitter{ background: url(/img/sp-big.png) -387px 0; width: 128px; height: 128px; }

.sp-med-facebook{ background: url(/img/sp-med.png) 0 0; width: 64px; height: 64px; }
.sp-med-github{ background: url(/img/sp-med.png) -65px 0; width: 64px; height: 64px; }
.sp-med-google{ background: url(/img/sp-med.png) -130px 0; width: 64px; height: 64px; }
.sp-med-twitter{ background: url(/img/sp-med.png) -195px 0; width: 64px; height: 64px; }