html,
body {
    height: 100%;
    font-size: 16px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -51px;
    padding: 0 0 51px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 40px;
    margin-top:10px;
}

#footer {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

#footer .container {
    padding-top: 10px;
}

#header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    height: 60px;
}

@font-face {
    font-family: 'comfortaabold';
    src: url('/css/fonts/comfortaa-bold.eot');
    src: url('/css/fonts/comfortaa-bold.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/comfortaa-bold.woff') format('woff'),
    url('/css/fonts/comfortaa-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

.container {
    width: 960px;
}

pre {
    font-size: 16px;
}

h1, h2, h3, h4 {
    margin-top: 0px;
    font-family: 'comfortaabold';
}

h1 {
    font-size: 30pt;
}

h1 a {
    color: #444;
}

h2 {
    margin-top: 15px;
    font-size: 30pt;
}

h2 a:hover {
    text-decoration: none;
}

h2#title {
    margin-top: 5px;
}

h1 a:hover {
    text-decoration: none;
    color: #666;
}

.m-b10 {
    margin-bottom: 10px;
}

.m-l10 {
    margin-left: 10px;
}

.m-t10 {
    margin-top: 10px;
}

.m-r10 {
    margin-right: 10px;
}

.site-a-label a {
    color: #fff;
}

.site-a-label a:hover {
    text-decoration: none;
}

.site-a-label {
    margin-right: 3px;
    margin-bottom: 1px;
    display: inline-block;
}

.label-inline {
    margin-left: 10px;
    margin-right: 10px;
}

div.social {
    margin: 10px 0px 10px 0px;
}

div.comment {
    margin-bottom: 20px;
}

div.comment-new-header {
    font-weight: bold;
}

div.login-toplink {
    padding-top: 25px;
    font-weight: bold;
}

a.black-icon-link {
    color: #000;
    text-decoration: none;
}

a i.black-icon {
    color: #000;
    text-decoration: none;
}

.post{
    margin-bottom: 15px;
}

.post ol li {
    list-style: decimal inside;
}

.post ul li {
    list-style: disc inside;
}

.post-meta {
    padding: 0px;
    list-style: none;
    margin: 0px;
    color: #999999;
    font-family: 'comfortaabold';
    white-space: nowrap;
}

.post-meta li {
    display: inline;
    padding-right: 10px;
}

.post-meta li i {
    font-size: 18px;
}

td.text-center,
th.text-center {
    text-align: center;
}

/* auth links */
.social-icon-link {
    color: #999;
}
.social-icon-link.login {
  color: #fff;
}
.social-icon-link:hover {
    text-decoration: none;
}

.h-list {
    list-style: none;
    margin: 10px 0px 0px 0px;
}
.h-list a i {
    line-height: 16px;
    margin: 0px 5px 0px 0px;
    height:22px;
    vertical-align: bottom;
}

.f-right {
    float: right;
}

/* social connect */
#profile-keys a{
  margin: 5px;
  font-size: 14px;
  font-weight: normal;
}


.icon-social-active {
    color: #08c;
}

.sign-social:hover {
    text-decoration: none;
    color: #666;
}

/* like buttons */
.fb_iframe_widget {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: normal;
}